*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!.zigversion
!LICENSE
!README.md

!examples/
!examples/**
!src/
!src/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.yaml
!*.yml
!*.sh
!*.zig
!*.zon
